.headerBackground {
    background-image: url('/webdev-port-image.jpeg'); /* Local file path or URL */
    background-size: cover; /* Cover the entire header area */
    background-position: center; /* Center the background image */
    height: 200px; /* Set the height of your header */
    color: white; /* Example text color for contrast */
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

